@import "../variable";

.nav-content {
  // background-image: url('../../assets/home/front.jpg'); // path relative to this scss file
  // background-size: cover; // makes the image cover the whole div
  // background-position: center; // centers the image
  // background-repeat: no-repeat; // prevent tiling
  // width: 100%;
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  // background-colosar: black;
  .nav-text {
    max-width: 70%;

    .intro {
      font-size: 1rem;
    }

    h2 {
      font-size: 5rem;
      margin: 0.5rem 0;

      .highlight {
        color: #7c2eff; // purple highlight
      }
    }

    .description {
      margin: 1rem 0 2rem;
      font-size: 1.5rem;
      color: #555;
    }

    .nav-buttons {
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      .get-in-touch {
        background-color: #7c2eff;
        color: white;

        &:hover {
          background-color: #5a1ccc;
        }
      }

      .browse-projects {
        border-color: #000;
        background-color: #7c2eff;
      }

      .resume {
        background-color: #7c2eff;
        border: #000;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .nav-content {
    margin-top: 0rem;

    .nav-text {
      .nav-buttons {

        .get-in-touch,
        .browse-projects,
        .resume {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width:$mobile) {
  .nav-content {
    .nav-text {
      h2 {
        font-size: 3rem;
      }

    }

    .description {
      font-size:15px !important;
    }

    .nav-buttons{
      .get-in-touch,
      .browse-projects,
      .resume{
        font-size: 7px !important;
      }
    }
  }
}